* { padding: 0; margin: 0; font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif;}

body{
    background-color: rgb(18, 31, 31);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#global-container{
    display: flex;
    flex-direction: row;
    height: 95%;
    justify-content: center;
}

canvas{
    height: 100%;
    background-color: green;
}

#btn-container{
    min-width: 50%;
    display: grid;

    grid-template-columns: repeat(1, 5fr);
}

#parameters-container{
    display: flex;
    flex-direction: column;

    gap: 1em;

    background-color: white;
    min-width: 50%;
    padding: 1%;

    align-items:safe;

}

.parameter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}